{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock page_title %}</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'eshop/css/pages/base.css' %}">
    {% block styles %}{% endblock styles %}
    {% bootstrap_javascript %}
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'eshop:home_page' %}">Gastronom</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'eshop:home_page' %}">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'eshop:product_list' %}">Товары</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'eshop:product_add' %}">Добавить товар</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block page_content %}{% endblock page_content %}
    </main>

    <footer>&copy; Все права защищены 2026</footer>

    {% bootstrap_javascript %}
</body>
</html>

