{% extends "eshop/base.html" %}

{% block page_title %}
    Gastronom | Все товары
{% endblock page_title %}

{% block page_content %}
    <h1> Товары магазина Gastronom</h1>

    {# Отображение товаров из базы данных #}
    {% if products %}
        {% for product in products %}
            <div class="product-container" style="background-color: #1c524d; color: white; border: 1px solid black; margin-bottom: 10px; padding: 15px; border-radius: 5px;">
                <h2>
                    <a href="{% url 'eshop:product_detail' product.id %}" style="color: #e0f2f1; text-decoration: none;"> 
                        {{ product.title }}
                    </a>
                </h2>
                <p><strong>Описание товара:</strong> {{ product.text }}</p>
                <p style="margin-top: 15px; margin-bottom: 15px;">
                <strong>Цена:</strong> 
                <span style="font-size: 1.25em; color: #ffeb3b; font-weight: bold;">{{ product.price }} ₽</span>
            </p>
                <small>Дата добавления товара: {{ product.created_at }}</small>
            </div>
        {% endfor %}
    {% else %}
        <p>Товаров ещё нет. Загляните позже!</p>
    {% endif %} 
{% endblock page_content %}
