{% extends "eshop/base.html" %}

{% block page_title %}
    Gastronom | Добавить товар
{% endblock page_title %}

{% block page_content %}
    <h1>Новый продукт</h1>

    <form method="POST" novalidate>
        {% csrf_token %}

        <div>
            <label for="titleInput">Название товара:</label>
            <input
                id="titleInput"
                name="title"
                type="text"
                value="{{ title }}"
                placeholder="Максимальная длина 200 символов"
                required
            >

            {% if errors.title %}
                <div style="color: red; font-size: 12px;">{{ errors.title }}</div>
            {% endif %}
        </div>

        <div>
            <label for="textInput">Описание товара:</label>
            <textarea id="textInput" name="text" rows="3">{{ text }}</textarea>

            {% if errors.text %}
                <div style="color: red; font-size: 12px;">{{ errors.text }}</div>
            {% endif %}
        </div>

        <div>
            <label for="priceInput">Цена товара (₽):</label>
            <input 
                id="priceInput"
                name="price" 
                type="number" 
                step="0.01" 
                min="0" 
                placeholder="0.00" 
                required
            >

            {% if errors.price %}
                <div style="color: red; font-size: 12px;">{{ errors.price }}</div>
            {% endif %}
        </div>

        <button type="submit">Добавить</button>
    </form>
{% endblock page_content %}