{% extends "eshop/base.html" %}
{% load static %} 

{% block page_title %}
    Gastronom | Все товары
{% endblock page_title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'eshop/css/pages/base.css' %}">
    <link rel="stylesheet" href="{% static 'eshop/css/pages/style.css' %}">
{% endblock styles %}


{% block page_content %}
<h1>Товары магазина Gastronom</h1>

{# Отображение товаров из базы данных #}
{% if products %}
    {% for product in products %}
        <div class="product-container">
            <h2>
                <a href="{% url 'eshop:product_detail' product.id %}" class="product-link">
                    {{ product.title }}
                </a>
            </h2>
            <p class="product-description">
                <strong>Описание товара:</strong> {{ product.text }}
            </p>
            <p class="product-price">
                <strong>Цена:</strong> {{ product.price }} ₽
            </p>
            <small>Дата добавления товара: {{ product.created_at|date:"d.m.Y H:i" }}</small>
        </div>
    {% endfor %}
{% else %}
    <p>Товаров еще нет. Загляните позже!</p>
{% endif %}
{% endblock page_content %}


