{% extends "eshop/base.html" %}

{% block page_title %}
    Gastronom | {{ product.title }}
{% endblock page_title %}

{% block page_content %}
    <a href="javascript:history.back()">&larr; Назад</a>

    <h1>Детали товара:</h1>
    <h2>ID товара: {{ prroduct.id }}</h2>
    <h3>{{ product.title }}</h3>
    <p>{{ product.text }}</p>
    <p>{{ product.price }}</p>
    <p>{{ product.created_at|date:"d.m.Y H:i" }}</p>

    <a href="{% url 'eshop:product_edit' product_id=product.id %}">Редактировать</a>
    <form method="POST" action="{% url 'eshop:product_remove' product_id=product.id %}">
        {% csrf_token %}
        <button type="submit">Удалить</button>
    </form>
{% endblock page_content %}

