{% extends "eshop/base.html" %}

{% block page_title %}
    Gastronom | {{ product.title }}
{% endblock page_title %}

{% block page_content %}
    <a href="javascript:history.back()">&larr; Назад</a>
    <h1>Детали товара:</h1>
    <h2>ID товара: {{ product.id }}</h2>
    <h3>{{ product.title }}</h3>

    {% if eshop.image %}
        <img src="{{ eshop.image.url }}" alt="Картинка Товара">
    {% endif %}

    <p>{{ product.text }}</p>
    <p>{{ product.price }}</p>
    <p>{{ product.created_at|date:"d.m.Y H:i" }}</p>
    <p>
        Автор товара:
        {% if product.author %}
            <a href="{% url 'users:profile' username=product.author.username %}">
                {{ product.author.username }}
            </a>
        {% else %}
            <span>Автор не указан</span>
        {% endif %}
    </p>

    {% if request.user == product.author and product.author %}
        <a href="{% url 'eshop:product_edit' product_id=product.id %}">Редактировать</a>
        <a href="{% url 'eshop:product_remove' product_id=product.id %}">Удалить</a>
    {% endif %}
{% endblock page_content %}




